/* import fonts */
@import url('https://stockfont.org/?8efe42052f023c28a9c89a1b8ef9d74e1bb608b4eec1a5e8bf77bac50aa42f77');

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Oxygen-Regular', verdana, sans-serif;
}

body {
    margin: 4px;
    background-color: white;
    border-style: groove;
    border-color: black;
    overflow: auto;

}

header {
    background-color: #D6C4B0;
    color: white;

    height: 200px;

}

h1{
    margin-top: 10px;
    text-align: center;
    font-size:80px;
    
    color: black;
}

div{
    margin: 10px;
}

div h3 {
    text-align: center;
    font-size:65px;
    padding: 10px;
    color: tomato;
    
}

div table{
    margin: 20px;
    font-size: 40px;
}
div table img {
    float: left;
}

div  img.item {
    width: 200px;
}

div table tr th{
    font-size: 40px;
    color: tomato;
}

div table tr td {
    padding-left: 20px;
    padding-top: 40px;
    font-size: 40px;
    overflow-wrap: break-word;
    color: tomato;
}

label {
  display: block;
  margin-top: 1rem;
}

input {
  margin-bottom: 1rem;
}

label {
  display: block;
  font:
    1rem "Fira Sans",
    sans-serif;
}

input,
label {
  margin: 0.4rem 0;
}